.container {
    display: flex;
    flex-direction: column;
    margin-left: 106px;
    gap: 25px;
}

.container h1 {
    width: 465px;
    font-family: 'intro-regular';
    font-size: 30px;
    
}

.container h2 {
    position: absolute;
    font-family: 'intro-bold';
    font-size: 130px;
    opacity: 0.3;
    left: 25%;
    padding-top: 45px;
}

.container p {
    width: 460px;
    font-family: 'caviar_dreams';
    
}

.container button {
    width: 230px;
    background-color: rgb(236, 44, 53);
    color: aliceblue;
    padding: 22px 20px;
    font-size: 20px;

}

@media (max-width: 991px) {
    .container {
        margin-left: 53px;  
    }

    .container button {
        width: 210px;
        padding: 11px 10px;
    }

    .container h2 {
        font-size: 100px;
        left: 10%;
    }
}

@media (max-width: 700px) {
    .container {
        margin-left: 25px;  
    }

    .container h1 {
        width: 235px;
        font-size: 20px;
    }

    .container p {
        width: 280px;
    }
}