.logo {
    max-width: 200px;
    margin: 10px 106px;
    font-family: 'intro-bold';
    font-size: 20px;
}

@media (max-width: 991px) {
    .logo {
        margin: 10px 35px;
    }
}

@media (max-width: 700px) {
    .logo {
        margin: 7px 20px;
    }
}