.card {
    max-width: 280px;
    height: fit-content;
    box-shadow: 0 10px 10px gray;
    border-radius: 10px;
    padding: 30px 20px;
}

.card h2 {
    font-size: 20px;
    text-align: center;
    color: blue;
}

.card h4 {
    font-family: 'intro-bold';
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: rgb(59, 9, 13);
}

.card h3 {
    font-family: 'intro-bold';
    font-style: italic;
    font-size: 30px;
    text-align: center;
    color: rgb(236, 46, 62);
}