.container {
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
    background-color: rgb(121, 55, 151);
    color: aliceblue;
    margin-bottom: 60px;
}

.container hr {
    width: 800px;
    color: aliceblue;
    height: 3px;   
    margin-left: 100px;
}